<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="com.ws.service"/>
    <context:component-scan base-package="com.ws.manager"/>

    <aop:aspectj-autoproxy/>

    <bean id="userService" class="com.ws.service.impl.UserServiceImpl"/>

    <bean id="userBean" class="com.ws.factory.UserFactoryBean">
        <property name="info" value="1,kevan,30"/>
    </bean>

    <bean id="userObjectFactory" class="com.ws.factory.UserObjectFactory"/>

    <bean id="cycleA" class="com.ws.service.impl.CycleAImpl">
        <property name="cycleB" ref="cycleB"/>
    </bean>
    <bean id="cycleB" class="com.ws.service.impl.CycleBImpl">
        <property name="cycleA" ref="cycleA"/>
    </bean>
    <bean id="aopService" class="com.ws.service.impl.AopServiceImpl"/>
    <bean id="aopServiceAspect" class="com.ws.spring.aop.AopServiceAspect"/>

</beans>